[credential]
	helper = "!f() { /var/www/.vscode-server/bin/7d842fb85a0275a4a8e4d7e040d2625abbf7f084/node /tmp/vscode-remote-containers-5922213a-07f4-4f57-b005-8bf59f282513.js git-credential-helper $*; }; f"
