[credential]
	helper = "!f() { /var/www/.vscode-server/bin/7d842fb85a0275a4a8e4d7e040d2625abbf7f084/node /tmp/vscode-remote-containers-40c76511-d1d0-475b-8bcb-8de3de041c91.js git-credential-helper $*; }; f"
