/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.zed
/.vscode-server
/.cache
/.composer
/.dotnet
/.local
/.ssh
/.npm
/.gnupg
/.devcontainer/*
!/.devcontainer/devcontainer.json
!/.devcontainer/setup.sh
/.config
*.sql
.bash_history
# Commented out to share devcontainer config with team
# /.vscode
# /.devcontainer
