[credential]
	helper = "!f() { /var/www/.vscode-server/bin/994fd12f8d3a5aa16f17d42c041e5809167e845a/node /tmp/vscode-remote-containers-ed7c195b-e151-434d-92e0-29395fdef0fa.js git-credential-helper $*; }; f"
